@font-face {
    font-family: 'JetBrains Mono';
    src: url('../fonts/JetBrainsMono.ttf');
}

.button {
    -fx-background-color: #e9c46a;
    -fx-font-family: "JetBrains Mono Medium";
    -fx-font-size: 1.2em;
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}

.button:hover {
    -fx-background-color: #f4a261;
}

.button:pressed {
    -fx-background-color: #e76f51;
}

.nav-bar {
    -fx-background-color: #043033;
    -fx-background-radius: 0;
    -fx-border-color: #1a1a1a;
    -fx-border-radius: 0;
    -fx-border-width: 0;
    -fx-padding: 0;
    -fx-spacing: 0;
}

.nav-bar-title {
    -fx-font-size: 30;
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff;
    -fx-padding: 10;
}

.left-pane {
    -fx-background-color: #c4af98;
}

.right-pane {
    -fx-background-color: #83C5BE;
}

.input-label {
    -fx-font-size: 20;
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff;
    -fx-padding: 10;
}

.field-vbox {
    -fx-background-color: #006d77;
}

.text-field {
    -fx-font-size: 15;
    -fx-font-family: "JetBrains Mono Medium";
    -fx-font-weight: bold;
}

/*.table-view .column-header,*/
/*.table-view .column-header-background .filler {*/
/*    -fx-background-color: #8ecae6;*/
/*}*/

/*.table-view .column-header .label{*/
/*    -fx-text-fill: #042040;*/
/*    -fx-font-weight: bold;*/
/*    -fx-alignment: CENTER;*/
/*}*/

/*.table-view .cell{*/
/*    -fx-cell-size: 35;*/
/*    -fx-alignment: center-left;*/
/*    -fx-background-color: #F6B574;*/
/*    -fx-text-alignment: center;*/
/*    -fx-border-width: 1px;*/
/*    -fx-border-color: #043033;*/
/*    -fx-text-fill: red;*/
/*}*/

/*.table-row-cell:selected {*/
/*    -fx-background-color: whitesmoke;*/
/*    -fx-text-background-color:  #6622CC;*/
/*    -fx-text-fill: red;*/
/*}*/

