@font-face {
    font-family: 'JetBrains Mono';
    src: url('../fonts/JetBrainsMono.ttf');
}

.root {
    -fx-background-image: url("../img/mainPage/background_image.png");
    -fx-background-size: cover;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 10, 0, 0, 0);
}

.main-label {
    -fx-font-family: "JetBrains Mono Medium";
    -fx-font-size: 70px;
    -fx-text-fill: #fefae0;
    -fx-font-weight: bold;
}

.main-label:hover {
    -fx-text-fill: #d4a373;
    -fx-cursor: hand;
}

.subtitle {
    -fx-font-family: "JetBrains Mono";
    -fx-font-size: 20px;
    -fx-text-fill: #ccd5ae;
    -fx-font-weight: bold;
}

.message {
    -fx-font-family: "JetBrains Mono";
    -fx-font-size: 20px;
    -fx-text-fill: #d62828;
    -fx-font-weight: bold;
}

.credentials {
    -fx-font-family: "JetBrains Mono Medium";
    -fx-font-size: 30px;
    -fx-text-fill: #E55065;
    -fx-background-color: transparent;
    -fx-font-weight: bold;
    -fx-border-color: transparent transparent #be4655 transparent;
    -fx-border-width: 0 0 3 0;
}

.progress-bar {
    -fx-background-color: #138370;
}

.progress-bar .bar {
    -fx-background-color: #E55065;
}

.toggle-view-password {
    -fx-background-color: transparent;
    -fx-cursor: hand;
}
